{% extends 'base.html' %}

{% block title %}About Us - Students' Blog{% endblock %}

{% block content %}
<div class="container">
    <h1>About Us</h1>
    <p>Welcome to Students' Blog, a platform created by a student, for students! We're dedicated to providing a space
        where students can share their resources, insights, and inspiration with each other.</p>
    <p>At Students' Blog, we believe in the power of collaboration and community. Whether you're looking for study
        materials, career advice, or simply want to connect with fellow students, you'll find it all here.</p>
    <p>Our platform is open to students from all backgrounds and disciplines. Whether you're in high school, college, or
        pursuing advanced studies, you're welcome to join our community and contribute your knowledge and
        experiences.</p>
    <p>Thank you for being a part of Students' Blog. Together, we can create a supportive and empowering environment for
        students to learn, grow, and succeed!</p>
</div>
{% endblock %}